#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=vlc
Name[es_AR]=Zamba en Yapeyú 3
Comment[es_AR]=Zamba en Yapeyú 3
Exec=vlc "/media/RECURSOS/videos/pakapaka/zamba en yapeyú parte 3.mp4"
Name=Zamba en Yapeyú 3
Comment=Zamba en Yapeyú 3
Icon=vlc
