#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=vlc
Name[es_AR]=El informe Kliksberg
Exec=xdg-open /media/RECURSOS/Videos/InformeKliksberg
Comment[es_AR]=El informe Kliksberg
Name=El informe Kliksberg
Comment=El informe Kliksberg
Icon=vlc
