#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=vlc
Name[es_AR]=Animapaka 2
Exec=vlc "/media/RECURSOS/videos/pakapaka/animapaka 2.mp4"
Comment[es_AR]=Animapaka 2
Name=Animapaka 2
Comment=Animapaka 2
Icon=vlc
