Source: huayra-postinstall-pci
Section: admin
Priority: extra
Maintainer: Fernando Toledo <ragnarok@docksud.com.ar>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.6
Homepage: http://huayra.conectarigualdad.gob.ar

Package: huayra-postinstall-pci
Architecture: all
Depends: ${misc:Depends}, util-linux (>= 2.25), zenity, ssh-askpass-gnome
Description: Configuraciones para netbooks del PCI con Huayra recién instalado
 Este paquete contiene scripts para configurar la netbook y dejarla lista
 para el uso escolar.
 NO debería aplicarse en una computadora que no tenga una estructura de
 particiones original de Conectar Igualdad.

