#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=vlc
Name[es_AR]=Zamba en Yapeyú 1
Comment[es_AR]=Zamba en Yapeyú 1
Exec=vlc "/media/RECURSOS/videos/pakapaka/zamba en yapeyú.mp4"
Name=Zamba en Yapeyú 1
Comment=Zamba en Yapeyú 1
Icon=vlc
