[Desktop Entry]
Comment=Revista Nautilus Sonora
Comment[es_AR]=Revista Nautilus Sonora
Exec=caja /media/RECURSOS/RevistaNautilus&NautilusSonora
Hidden=true
Icon=caja
Icon[es_AR]=caja
Name=Revista Nautilus Sonora
Name[es_AR]=Revista Nautilus Sonora
Terminal=false
Type=Application
Version=1.0
