[Desktop Entry]
Exec=vlc %f /media/DATOS/Contenidos/Con vos en la web.mp4
Hidden=true
Icon=/usr/share/icons/gnome/48x48/mimetypes/gnome-mime-application-vnd.rn-realmedia.png
Icon[es_AR]=/usr/share/icons/gnome/48x48/mimetypes/gnome-mime-application-vnd.rn-realmedia.png
Name=Con vos en la web
Name[es_AR]=Con vos en la web
Terminal=false
Type=Application
Version=1.0
