[Desktop Entry]
Comment=Aprender Inglés
Comment[es_AR]=Aprender Inglés
Exec=chromium /media/RECURSOS/AprenderIngles/INDEX.HTM
Hidden=true
Icon=chromium
Icon[es_AR]=chromium
Name=Aprender Inglés
Name[es_AR]=Aprender Inglés
Terminal=false
Type=Application
Version=1.0
