#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=/usr/share/icons/gnome/48x48/mimetypes/gnome-mime-application-vnd.rn-realmedia.png
Name[es_AR]=Anses con vos 
Exec=vlc %f "/media/DATOS/Contenidos/tics-unicef/uso-responsable-tics.html""
Name=Anses con vos 
Icon=/usr/share/icons/gnome/48x48/mimetypes/gnome-mime-application-vnd.rn-realmedia.png
