#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=/usr/share/icons/gnome/48x48/mimetypes/gnome-mime-application-vnd.oasis.opendocument.text-web.png
Name[es_AR]=Desafío Dale Aceptar
Exec=chromium %u "/media/DATOS/Contenidos/directorioDA/web/index.html"
Name=Desafío Dale Aceptar
Icon=chromium
