#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[es_AR]=/usr/share/icons/gnome/48x48/mimetypes/gnome-mime-application-vnd.rn-realmedia.png
Name[es_AR]=Navegá protegido
Exec=chromium %u "/media/DATOS/Contenidos/Navega Protegido/InternetSegura.swf"
Name=Navegá protegido
Icon=/usr/share/icons/gnome/48x48/mimetypes/gnome-mime-application-vnd.rn-realmedia.png
